{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
<!-- <link rel="stylesheet" href="/app/static/style/style.css"> -->
{% endblock %}

{% block content %}


<div class="container w-75 mt-3" style="background-color: rgba(255, 255, 255, 0.7); border-radius:35px; color: black;" >
  <h1 class="mb-5" style="text-align: center;">PRODUCTS YOU CAN BUY</h1>

  <div class="row row-cols-3 d-flex justify-content-between">

    {% for product in products %}

      <div class="card col  my-shadow mb-5" style="width: 18rem; height: 470px;">
          <a href="{{ url_for('product_detail', product_id=product.id) }}" >
            <img src="{{ product.photo }}" class="card-img-top" alt="...">
            <div class="card-body mb-3">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text "><small class="text-body-secondary">{{ product.price}} грн</small></p>
            </div>
          </a>
           
            <button class="my-button"> <a href="{{ url_for('buy_products', product_id=product.id) }}" class="my-button">ADD TO CART</a></button>

      </div>
      
     
    {% endfor %}

  </div>

  <nav aria-label="..." class="pagination-container">
    <ul class="pagination pagination-lg" style="margin: 0 auto;">
    {% for page in products.iter_pages() %}
        {% if page %}
            {% if page != products.page %}
            <li class="page-item" aria-current="page">
                <a href="{{ url_for('home', page=page) }}" class="page-link">{{ page }}</a>
            </li>
            {% else %}
            <li class="page-item active" aria-current="page">
                <a href="{{ url_for('home', page=page) }}" class="page-link">{{ page }}</a>
            </li>
            {% endif %}
        {% else %}
        <li class="page-item active" aria-current="page">
            …
        </li>
        <li class="page-item active" aria-current="page">
            <a href="{{ url_for('home', page=page) }}" class="page-link">{{ products.total }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>



{% for category, message in get_flashed_messages(True)  %}
<div class="flash-container">
  <div class="my-flash alert alert-{{category}} alert-dismissible fade show " role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% endfor %}
{% endblock %}