{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='/style/style.css') }}">
{% endblock %}

{% block content %}
{% for category, message in get_flashed_messages(True)  %}
<div class="flash-container">
  <div class="my-flash alert alert-{{category}} alert-dismissible fade show " role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% endfor %}

<div class="container w-25 mt-3">
<h1>PRODUCTS YOU CAN BUY</h1>

{% for product in products %}
<img src="{{ product.photo }}" alt="product photo" class="w-25">
<p><a href="{{ url_for('product_detail', product_id=product.id) }}"> {{ product }} </a><a href="{{ url_for('buy_products', product_id=product.id) }}">BUY</a></p>
{% endfor %}
</div>
{% endblock %}