{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='/style/post_product.css')}}">
{% endblock %}

{% block content %}


<div class="container w-50 mt-3" style="background-color: rgba(255, 255, 255, 0.7); border-radius:35px; color: black;" >
<form method="post" class="container w-50" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <h2 class="text-center mb-5"> Post product</h2>

    <div class="mb-3 row">
        {{ form.title.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.title(class="form-control")}}    
        </div>
    </div>
    
    <div class="mb-3 row">
        {{ form.description.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.description(class="form-control")}}   
        </div>
    </div>

    <div class="mb-3 row">
        {{ form.photo.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.photo(class="form-control")}}
        </div>

        {% for error in form.photo.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="mb-3 row">
        {{ form.price.label(class='col-sm-2 col-form-label') }}
        <div class="col-sm-10">
            {{ form.price(class="form-control")}}   
        </div>
    </div>
    
    <div class="col-12">
        {{ form.submit(class='my-button btn btn-primary ') }}
    </div>
</form>
</div>
{% endblock %}