{% extends 'base.html' %}

{% block style %} 
<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style/product_detail.css') }}">
{% endblock %}

{% block content %}

<div class="container w-35 mt-3 my-container" style="background-color: rgba(255, 255, 255, 0.7); border-radius:35px; color: black;" >
    <img src="{{ url_for('static', filename=product.photo) }}" alt="product image" class="product-image" style="width: 500px; height: 500px;">

    <div class="product-info">
        <h2>{{ product.title }}</h2>
        <p><strong>{{ product.price }}</strong></p>
        <p>{{ product.description }}</p>
        <p style="color: grey;">Seller: {{ product.seller }}</p>
        <button class="my-button"> <a href="{{ url_for('buy_products', product_id=product.id) }}" class="my-button-a">ADD TO CART</a></button>
    </div>

    <div class="pop-up" id="pop-up">
        <span class="pop-up-span"></span>
        <img src="{{ url_for('static', filename=product.photo) }}" alt="product image" class="product-image">
    </div>
</div>



{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='/js/product_detail.js') }}"></script>
{% endblock %}