{% extends 'base.html' %}

{% block style %} 
<link rel="stylesheet" href="{{ url_for('static', filename='/style/style.css') }}">
{% endblock %}

{% block content %}

<div class="container w-75">
    <!-- <img src="{{ product.photo }}" alt="product image" class="product-image"> -->

    <img src="/static/uploads/ava.jpg" alt="" class="w-75 product-image">
    <h2>{{ product.title }}</h2>
    <p><strong>{{ product.price }}</strong></p>
    <p>{{ product.description }}</p>
    <p style="color: grey;">Seller: {{ product.seller }}</p>

    <div class="pop-up" style="display: block;">
        <span class="pop-up-span"> &times; </span>
        <img src="/static/uploads/ava.jpg" alt="hgvhg">
    </div>
</div>



{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='/js/product_detail.js') }}"></script>
{% endblock %}