{% extends 'base.html' %}

{% block content %}
<div class="container w-25 mt-3" style="background-color: rgba(255, 255, 255, 0.7); border-radius:35px; color black;" >
    <h2>REGISTER</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="row mb-3">
            {{ form.username.label(class="col-sm-3 col-form-label") }}
            <div class="col-sm-8">
                {{ form.username(class="form-control") }}
            </div>
            <br>
            {% for error in form.username.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div class="row mb-3">
            {{ form.email.label(class="col-sm-3 col-form-label") }}
            <div class="col-sm-8">
                {{ form.email(class="form-control") }}
            </div>
            <br>
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div class="row mb-3">
            {{ form.password.label(class="col-sm-3 col-form-label") }}
            <div class="col-sm-8">
                {{ form.password(class="form-control") }}
            </div>
            <br>
            {% for error in form.password.errors %}
            <span class="text-danger mt-3">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="row mb-3">
            {{ form.confirmed_password.label(class="col-sm-3 col-form-label") }}
            <div class="col-sm-8">
                {{ form.confirmed_password(class="form-control") }}
            </div>
            <br>
            {% for error in form.confirmed_password.errors %}
            <span class="invalid-feedback">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary mb-3") }}
        </div>
    </form>
</div>

{% endblock %}