{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
{% endblock %}

{% block content %}

<div class="container w-75 mt-3" style="background-color: rgba(255, 255, 255, 0.7); border-radius:35px; color: black;" >

<h2 class="text-center mb-5">Your bought products:</h2>

<div class="row row-cols-2 d-flex justify-content-between">
    {% for product in products %}
    <div class="card col shadow-sm mb-3" style="max-width: 650px; padding: 12px;">
        <div class="row g-0" >
            <div class="col-md-4">
                <img src="{{ product.photo }}" class="img-fluid rounded-start" alt="{{ product.titile }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text"><small class="text-body-secondary">{{ product.price}} грн</small></p>
                </div>
                <button style="background-color: red; margin-left: 36px ;"><a href="{{ url_for('remove_product', product_id=product.id) }}">REMOVE</a></button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>


{% for category, message in get_flashed_messages(True)  %}
<div class="flash-container">
  <div class="my-flash alert alert-{{category}} alert-dismissible fade show " role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% endfor %}

{% endblock %}